#contact{
    height: 290px;
    background-color:black;
    color:white;
    padding:40px ;
}
#contact_Inner_div{
    margin:auto;
 }
 #contact_Inner_div h1{
   font-size:40px;
    color:grey;
}
 #contact_Inner_div p{
    text-align: center;
    margin-top: 40px;
    font-size: 30px;
    text-decoration: underline;
 }

 #contact-github{
   color:white;
   font-size: 50px;
   margin-left: 600px;
 }
 #contact-linkedin{
    color:white;
    font-size: 50px;
    
 }
#cont h3{
text-align: center;
font-size:20px
}
#contact_Inner_div{
    margin:auto;
 }
 @media all and (max-width: 900px) and (min-width:300px) {
   #contact{
      height: 190px;
      background-color:black;
      color:white;
      padding:10px;
  }
  #contact_Inner_div{
      margin:auto;
   }
   #contact_Inner_div h1{
     font-size:10px;
      color:grey;
  }
   #contact_Inner_div p{
      text-align: center;
      margin-top: 40px;
      font-size: 10px;
      text-decoration: underline;
   }
  
  
  #cont h3{
  text-align: center;
  font-size:10px
  }
  #contact_Inner_div{
      margin:auto;
   }
  }